<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/title.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <title><%= title %></title>
</head>

<body>
  <div class="background">
    <video loop muted autoplay src="/img/rain.mp4" class="background-video"></video> <!-- Video as background -->
    <%- include ('partials/header_nav.ejs') %>
    <br><br>
    <h1 class="name"><%= title %></h1>
    <br><br>
    <div class="container-around">
      <div class="right-container">
        <img class="img-responsive" src="/img/about.png"  > 
      </div>
      <div class="left-container">My name is Muhammad Ahmed Vohra, and I proudly hail from the vibrant country of Pakistan. Currently, I am a dedicated second-year student pursuing a degree in Software Engineering at Centennial College. My journey in the world of programming and technology has been nothing short of exciting. I am passionate about coding, problem-solving, and creating innovative solutions. Check my resume.
        <br>
       <div class="res-div"> <button class="res-btn"><a target="_blank" href="/img/Resume_CS.pdf">Here</a></button></div>
      </div>
    </div>
<%- include ('partials/footer_nav.ejs') %>
</div>
</body>
</html>