<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/title.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/service.css">

    <title><%= title %></title>
</head>
    <body>
  
        <%- include ('partials/header_nav.ejs') %>
        <h1 id="title-nm"><%= title %></h1>
        <div class="navig-bar">
            <div id="service1" class="active-sv"><br>Responsive Web Development<br><br></div>

            <div id="service2"><br>Digital Marketing<br><br></div>

            <div id="service3"><br>Mobile Application<br><br></div>
           
            <div id="service4"><br>Database Design and Management<br><br></div>
          </div>
         
        <div class="container-abt">
        <div class="right">
            <h1 id="name">Responsive Web Development</h1>
        </div>
        <br>
        <div id="left">
            <br>
            
        </div>
        </div>
        <div class="res-div"> <button class="res-btn"><a href="/contact">Contact Me</a></button></div>
    <%- include ('partials/footer_nav.ejs') %>

      </body>
      <script src="/js/services.js"></script>
</html>